<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557698100110-usv7mvcr5rgdf1r1imllptuodqi8kf7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557698100110-usv7mvcr5rgdf1r1imllptuodqi8kf7m</string>
	<key>API_KEY</key>
	<string>AIzaSyCX6eKBiZ_yqartxPSU8Hl3diaLGGocoOE</string>
	<key>GCM_SENDER_ID</key>
	<string>557698100110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.hanvicoonline</string>
	<key>PROJECT_ID</key>
	<string>hanvicoonline-93762</string>
	<key>STORAGE_BUCKET</key>
	<string>hanvicoonline-93762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557698100110:ios:498d901bc5140f434e12df</string>
</dict>
</plist>